
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{

    height: 100vh;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    /*font-optical-sizing: auto;*/
    display: flex;
    flex-direction: column;
}

main.container {
   /* height: 95%;*/
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);/*background-color: #d0dbe7;*/
    padding: 10px;
}

.box {
    width: 288px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:hsl(0, 0%, 100%); /*background-color: #fff;*/
    text-align: center;
}

.image img {
    border-radius: 6px;
    width: 100%;
}

/*img{

    border-radius: 30px;
    width: 100%;
    padding: 20px;
    height: 60%;;
}*/

.content {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

/*.container{

    padding: 10px;
    height: 30%;
}*/

h1{
   /* padding-bottom: 20px;*/
    font-size: 22px;
    font-weight: bold;
    color: #1F314F;
}

p{
    font-size: 15px;
    color: #7D889E;
}

footer.attribution { 
    font-size: 11px; 
    text-align: center; 
    height: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    
}

@media only screen and (min-width: 601px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (orientation: landscape) {
    body {
        width: 100%;
        
    }
    
}
 

@media only screen and (orientation: portrait) {
    body {
        width: 100%;
        
    }
    
}