
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
    
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
 
#box{

    height: 600px;
    width : 100%;

}